.App {
  /* text-align: center; */
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* Hero section */
.hero-section{
  width: 100%;
  height: 70vh;
  background: url(./images/20200826_124912.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position:  top center;
  background-color: #6EB26C;
  background-blend-mode:soft-light;
}
/* common */
.fw-monospace{
  font-family: monospace !important;
}
/* typed-div */
.typed-div{
  width: 100%;
  height: 70vh;
}
.typed{
  color: #0000007a;
  font-size: 3rem;
  text-shadow: 0px 0px 7px black;
  font-family: monospace;
}
.bg-light-green{
  background: #8CBE46 !important;
}
/* About section */
.texture-section{
  padding: 65px 0;
}
.texture1{
  background: url(./images/pattern-1.png);
}
.divider{
  height: 1px;
  background-color: lightgrey;
}
.color-nowidth{
  width: 150px;
  background-color: #8CBE46 !important;
  height: 1px;
  z-index: 2 !important;
  position: relative;
}
.color-width{
  width: 30px;
  background-color: #8CBE46 !important;
  height: 5px;
  z-index: 3 !important;
  position: absolute;
  top: -2px;
  left: 20px;
}
/* Progress bar Style */
.progress-lebel{
  background-color: black;
  color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 1.5rem;
}
.progress{
  height: 1.5rem !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

@media only screen and (max-width: 480px){
  .hero-section{
    height: 40vh;
  }
  .typed-div{
    width: 100%;
    height: 40vh;
  }
  .typed{
    font-size: 16px;
    font-weight: bold;
  }
}
